  /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* 15% from the top and centered */
           
            border: 1px solid #888;
            width: 40%;
            /* Could be more or less, depending on screen size */
          height: 55%;
            /* Full height */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }


#kspec {
    background: #FFFFFF !important;
    border-radius: 10px;
}

#payForm {
    border-style: none !important;
}

#nnnn {
    background: #2C665D !important;
    border-radius: 4px !important;
}

#kcancel {
    border: 1px solid #EBEBEB;
    background: #FFFFFF !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
    color: #2A2A2A !important;
    margin-right: 1% !important;
}


.kform-group {
    position: relative !important;
    min-height: 3.5em !important;
}

.kform-control {
    height: 55px !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    background: rgba(255, 187, 255, 0.1) !important;
    border: 1px solid #FFBBFF !important;
    box-sizing: border-box !important;
    border-radius: 5px !important;
}

.kform-control-label {
    position: absolute !important;
    font-size: .8em !important;
    top: 0 !important;
    left: 5px !important;
    font-family: "Space Grotesk"  !important;
    color: #2A2A2A !important;
}

