/* The Modal (background) for we gate */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */

    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
    height: 55%;
    /* Full height */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.kow:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
    border: 1px solid #FFBBFF;
    box-sizing: border-box;
    border-radius: 5px
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.k-container {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: "Space Grotesk"
}

.k-col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.kcol-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
}
